/*******************MAIN-ACCEUIL*******************/

/*****BASE*****/

main h2 {
    text-align: center;
    font-size: 33pt;
    margin: 0px;
}

main p {
    color: rgb(238, 237, 229);
}

main li {
    font-size: 16pt;
}

/*****PARTIE-1*****/

.background-1 {
    background: linear-gradient(to bottom, #0a0700, #1a1201);
    padding: 60px 40px 22px 40px;
}

/***VIDEO***/

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

/***P***/

.background-1 p {
    margin: 0px 70px 50px 70px;
    font-size: 24px;
    text-align: center;
}

.liste-presentation li {
    margin-bottom: 10px;
    text-align: justify;
}

/***IMG***/

.image-accueil {
    width: 300px;
    display: flex;
    margin: 0 auto; 
    margin-top: 15px;
}

/*****PARTIE-2*****/

.background-2 {
    background: linear-gradient(to bottom, #1a1201, #000000, #000000, #000000, #1a1201);
    padding: 20px 40px 10px 40px;
}

/***H-3***/

h3 {
    color: rgb(227, 225, 211);
    text-align: center;
    font-size: 19pt;
    margin: 0px 70px;
    padding-top: 20px;
}

/***LOGO***/

.logo-platformes {
    display: flex;
    justify-content: space-around;
    margin: 0px 210px 40px 210px;
}

.logo-platformes div {
    margin-top: 35px;
}

.logo-platformes div a {
    color: #0aa70c;
    font-size: 27pt;
}

.logo-platformes div:nth-child(2) a {
    color: #151194;
}

.logo-platformes div:hover {
    transform: scale(1.03);
}

/*****PARTIE-3*****/

.background-3 {
    background: linear-gradient(to bottom, #1a1201, #0f0b00);
    padding: 35px 40px 30px 40px;
}

.center {
    text-align: center;
}

/***IMG***/

.background-3 img {
    width: 600px;
    -webkit-box-shadow: 2px 2px 26px 10px #000000; 
    box-shadow: 2px 2px 26px 10px #000000;
    opacity: 0.7;
    transition: 3.5s;
}

.background-3 img:nth-child(1) {
    margin-top: 30px;
}

/***HOVER***/

.background-3 img:hover {
    transform: scale(1.05);
    transition: 0.7s;
    opacity: 1;
}

/***p***/

.background-3 p {
    margin: 20px 150px 20px 150px;
    font-size: 15.5pt;

}