/*******************MAIN-PERSONAGES*******************/

/*****BASE*****/

article {
    background: url(../images/personnages/fond-article-perso.png) no-repeat;
    background-size: cover;
    width: 700px;
    margin-left: 28px;
}

/***TITRE***/

.personnages h3 {
    font-size: 30pt;
    text-align: center;
    margin: 7px 0px 10px 0px;
}

/***IMAGE***/

.img-perso {
    border: 3px dashed #2d2923;
    border-radius: 2px;
    width: 327px;
}

/***HOVER***/

.img-perso:hover {
    animation: apparition-border 0.2s linear forwards ;
}
  
@keyframes apparition-border {
    to{
        border: 3px dashed rgb(161, 121, 28);
    }
}

/***IMPORTANCE***/

.box-2:nth-child(1) p, .box-2:nth-child(1) i {
    text-align: center;
}

.importance {
    font-size: 18pt;
    margin-bottom: 0px;
    color: rgb(238, 237, 229);
}

.fa-clover {
    color: green;
    font-size: 18pt;
}

.gris {
    color: rgb(101, 101, 101);
}

/***DESCRIPTION***/

.personnages .box-2:nth-child(2){
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.personnages li {
    font-size: 13pt;
    margin-bottom: 20px;
    list-style: square;
}
