{% extends "base.twig" %}

{% block main %}
    <div class="flex">
    {% block content %}
        
    {% endblock content %}

    {% block aside %}
        <aside>
            <div class="sticky_content">
                <div class="fleche-haut-aside"><a href="#"><i class="fa-regular fa-square-caret-up"></i></a></div>
                <h3>{{ titre }}</h3>
                <nav>
                    <ul>
                        {% for categ in categorie %}
                            <li><i class="fa-solid fa-arrow-right"></i><a href="#{{ categ.id }}">{{ categ.nom }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </aside>
    {% endblock aside %}
    </div>
{% endblock main %}